/* line 14, ../sass/post.scss */
.header {
  height: 550px;
  width: 100%;
  background: url(../images/me.jpg) center center;
  background-size: cover;
}
/* line 20, ../sass/post.scss */
.header .overlay {
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}
/* line 25, ../sass/post.scss */
.header .welcome {
  display: block;
  width: 100%;
  padding: 150px 5% 0px;
  font-size: 40px;
  text-align: left;
  margin: 0;
  color: white;
}
/* line 34, ../sass/post.scss */
.header .title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0px 5% 0px;
  font-size: 90px;
  text-align: left;
}
/* line 42, ../sass/post.scss */
.header .title a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}
/* line 47, ../sass/post.scss */
.header .title a:hover {
  color: #efefef;
}
/* line 53, ../sass/post.scss */
.header .tag {
  display: block;
  width: 100%;
  padding: 0px 5%;
  font-size: 30px;
  text-align: left;
  margin: 0;
  color: white;
}

/* line 64, ../sass/post.scss */
.site {
  text-align: justify;
  width: 100%;
  max-width: 700px;
  color: #69606b;
  margin: 0 auto;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  font-family: "Raleway", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
/* line 78, ../sass/post.scss */
.site #home .blog-title {
  text-align: center;
  padding: 2% 4%;
  display: inline-block;
  margin: 10% AUTO 0;
  font-size: 50px;
  font-weight: 400;
  border: 5px solid;
}
/* line 87, ../sass/post.scss */
.site #home .single-post {
  padding: 7% 4%;
  border-bottom: 1px solid #eaeaea;
}
/* line 92, ../sass/post.scss */
.site #home .single-post h2 {
  font-weight: 700;
  color: #555;
  font-size: 35px;
}
/* line 96, ../sass/post.scss */
.site #home .single-post h2 a {
  color: #555;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 100, ../sass/post.scss */
.site #home .single-post h2 a:hover {
  color: #00bb70;
}
/* line 106, ../sass/post.scss */
.site #home .single-post span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 14px;
  display: block;
  line-height: 30px;
}
/* line 113, ../sass/post.scss */
.site #home .single-post p {
  margin: 0;
}
