$font-Main:   'Raleway', Arial, sans-serif;
$white: #FFFFFF;
$light: #efefef;


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@-webkit-keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}



@-webkit-keyframes psychoColor {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes psychoColor {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes psychoColor { 
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

.header{
	height: 550px;
	width: 100%;
	background: url(../images/me.jpg) center center;
	background-size: cover;
	
	.overlay{
		width: 100%;
		height:100%;
		background: #a6d900;
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6d900), color-stop(100%, #ff4454));
	  background: -webkit-linear-gradient(top, #a6d900 0%, #ff4454 100%);
	  background: -webkit-gradient(linear, top left, bottom left, from(#a6d900), to(#ff4454));
	  background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
	  opacity: 0.6;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6d900', endColorstr='#ff4454', GradientType=0);
	  -webkit-transition: opacity 1.5s;
	  transition: opacity 1.5s;


	  -webkit-animation: huerotator 3s infinite alternate;

	}
	.welcome{
		display: block;
  		width:100%;
  		padding: 150px 5% 0px;
  		font-size: 40px;
  		text-align: left;
  		margin: 0;
  		color: $white;
	}
  	.title {
  		display: block;
  		width:100%;
  		margin: 0;
  		padding: 0px 5% 0px;
  		font-size: 90px;
  		text-align: left;

  		a {
		  	color: $white;
		  	font-weight: bold;
  			text-decoration: none;
  			text-align: left;
		  	&:hover {
		        color:$light;
		    }
		}
	}
	
	.tag{
		display: block;
		width: 100%;
		padding: 0px 5%;
		font-size: 30px;
		text-align: left;
		margin: 0;
		color: $white;
	}
	
}
#aboutMe{
	width: 100%;
	max-width: 750px;
	margin: 10% auto;
	text-align: left;
	h3{
		color: #4c4d57;
		font-size: 100px;
		letter-spacing: 2px;
		font-weight: 900;
		display: inline;
	}
	hr{
		width: 20%;
  		height: 18px;
  		background: #4c4d57;
	}
	p{
		font-size: 29px;
		color: #4c4d57;
		line-height: 60px;
		font-family: $font-Main;
	}
}
.site {
	text-align: justify;
	width: 100%;
	max-width: 750px;
	color: #69606b;
	margin: 0 auto;
	font-weight: 300;
	font-size: 22px;
	line-height: 1.5;
	font-family: $font-Main;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	#home{

		.blog-title{
			text-align: left;

			color: #4c4d57;
			font-size: 100px;
			letter-spacing: 2px;
			font-weight: 900;
			display: inline;
		}
		.ubder_title{
			width: 15%;
	  		height: 18px;
	  		background: #4c4d57;
		}
		.single-post{
			padding: 7% 4%;
		  	border-bottom: 1px solid #eaeaea;
		  	margin: 5% 0;
		  	

			h2{
				font-weight: 700;
		  		color: #555;
		  		font-size: 40px;
		  		a{
		  			color: #555;
		  			text-decoration: none;
		  			@include transition(all, 0.2s, ease-in-out);
		  			&:hover{
		  				color: #00bb70;
		  			}
		  		}
		  		
			}
			span {
				color: #aaa;
				font-family: Monaco, "Courier New", monospace;
				font-size: 14px;
			  	display: block;
			  	line-height: 30px;
			}
			p{
				margin: 0;
				font-size: 20px;
				color: #4c4d57;
				line-height: 42px;
			}
		}
	}

}

