$font-Main:   'Raleway', Arial, sans-serif;
$white: #FFFFFF;
$light: #efefef;


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@-webkit-keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}


.home-camps .camp-block.overnight-camps .curtain .curtain-1 {
  background: #4d788c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, #4d788c), color-stop(100%, #99bc25));
  background: -webkit-linear-gradient(top, #4d788c 32%, #99bc25 100%);
  background: -webkit-gradient(linear, top left, bottom left, from(#4d788c), to(#99bc25));
  background: linear-gradient(to bottom, #4d788c 32%, #99bc25 100%);
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d788c', endColorstr='#99bc25', GradientType=0);
}

.home-camps .camp-block.overnight-camps .curtain .curtain-2 {
  background: #00bc25;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bc25), color-stop(100%, #46788c));
  background: -webkit-linear-gradient(top, #00bc25 0%, #46788c 100%);
  background: -webkit-gradient(linear, top left, bottom left, from(#00bc25), to(#46788c));
  background: linear-gradient(to bottom, #00bc25 0%, #46788c 100%);
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bc25', endColorstr='#46788c', GradientType=0);
}

.home-camps .camp-block.overnight-camps .curtain.v1 .curtain-1 {
  opacity: 1;
}

.home-camps .camp-block.overnight-camps .curtain.v1 .curtain-2 {
  opacity: 0;
}

.home-camps .camp-block.overnight-camps .curtain.v2 .curtain-1 {
  opacity: 0;
}

.home-camps .camp-block.overnight-camps .curtain.v2 .curtain-2 {
  opacity: 1;
}

.header{
	height: 550px;
	width: 100%;
	background: url(../images/me.jpg) center center;
	background-size: cover;
	
	.overlay{
		width: 100%;
		height:100%;
		  background: #a6d900;
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6d900), color-stop(100%, #ff4454));
		  background: -webkit-linear-gradient(top, #a6d900 0%, #ff4454 100%);
		  background: -webkit-gradient(linear, top left, bottom left, from(#a6d900), to(#ff4454));
		  background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
		  opacity: 0.6;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6d900', endColorstr='#ff4454', GradientType=0);
		  -webkit-transition: opacity 1.5s;
		  transition: opacity 1.5s;
	}
	.welcome{
		display: block;
  		width:100%;
  		padding: 150px 5% 0px;
  		font-size: 40px;
  		text-align: left;
  		margin: 0;
  		color: $white;
	}
  	.title {
  		display: block;
  		width:100%;
  		margin: 0;
  		padding: 0px 5% 0px;
  		font-size: 90px;
  		text-align: left;

  		a {
		  	color: $white;
		  	font-weight: bold;
  			text-decoration: none;
  			text-align: left;
		  	&:hover {
		        color:$light;
		    }
		}
	}
	
	.tag{
		display: block;
		width: 100%;
		padding: 0px 5%;
		font-size: 30px;
		text-align: left;
		margin: 0;
		color: $white;
	}
	
}
.site {
	text-align: justify;
	width: 100%;
	max-width: 700px;
	color: #69606b;
	margin: 0 auto;
	font-weight: 300;
	font-size: 22px;
	line-height: 1.5;
	font-family: $font-Main;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	#home{

		.blog-title{
			text-align: center;
			padding: 2% 4%;
			display: inline-block;
			margin: 10% AUTO 0;
			font-size: 50px;
			font-weight: 400;
			border: 5px solid;
		}
		.single-post{
			padding: 7% 4%;
		  	border-bottom: 1px solid #eaeaea;
		  	

			h2{
				font-weight: 700;
		  		color: #555;
		  		font-size: 35px;
		  		a{
		  			color: #555;
		  			text-decoration: none;
		  			@include transition(all, 0.2s, ease-in-out);
		  			&:hover{
		  				color: #00bb70;
		  			}
		  		}
		  		
			}
			span {
				color: #aaa;
				font-family: Monaco, "Courier New", monospace;
				font-size: 14px;
			  	display: block;
			  	line-height: 30px;
			}
			p{
				margin: 0;
			}
		}
	}

}

