@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}


/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 60px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/* 
 * Front Page 
 */


.header{
    height: 550px;
    width: 100%;
    background: url(../images/me.jpg) center center;
    background-size: cover;

    .overlay{
      width: 100%;
      height:100%;
      background: #a6d900;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6d900), color-stop(100%, #ff4454));
      background: -webkit-linear-gradient(top, #a6d900 0%, #ff4454 100%);
      background: -webkit-gradient(linear, top left, bottom left, from(#a6d900), to(#ff4454));
      background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
      opacity: 0.6;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6d900', endColorstr='#ff4454', GradientType=0);
      -webkit-transition: opacity 1.5s;
      transition: opacity 1.5s;


      -webkit-animation: huerotator 3s infinite alternate;

    }
    .welcome{
        display: block;
        padding: 150px 0 0px;
        font-size: 40px;
        text-align: left;
        margin: 0 auto;
        color: $color-white;
        max-width: 750px;
    }
    .title {
        display: block;
        margin: 0 auto;
        max-width: 750px;
        padding: 0px;
        font-size: 90px;
        text-align: left;

        a {
            color: $color-white;
            font-weight: bold;
            text-decoration: none;
            text-align: left;
            &:hover {
                color:$color-light;
            }
        }
    }

    .tag{
        display: block;
        padding: 0px;
        font-size: 30px;
        text-align: left;
        margin: 0 auto;
        max-width: 750px;
        color: $color-white;
    }
}
.fat-title{
    h3{
        color: #4c4d57;
        font-size: 100px;
        font-weight: 900;
        display: inline;
        line-height: 1;
        padding: 2% 0;
    }
    hr{
        width: 20%;
        height: 17px;
        background: #4c4d57;
        margin-bottom: 30px;
    }
}

#aboutMe{
    width: 100%;
    max-width: 750px;
    margin: 10% auto;
    text-align: left;
    p{
        font-size: 29px;
        color: #4c4d57;
        line-height: 60px;
        font-family: $base-font-family;
    }
}

.work{
    margin: 10% auto;
    .fat-title{
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
    }
    .grid-work{
        display: block;
        width: 100%;
        max-width: 750px;
        margin: 75px auto;
        font-size: 0;

        &:after {
          content: "";
          display: table;
          clear: both;
        }

        li {
            display: block;
            float: left;
            background: #333;
            position: relative;
            a{
                width: 100%;
                height: 100%;
                display: block;
                top: 0; left: 0;
                text-align: center;
                padding-top: 41%;
                text-decoration: none;
                box-sizing: border-box;
                font-weight: 700;
                background: rgba(0, 0, 0, 0.5);
                color: $color-white;
                position: absolute;
                @include transition(all, 0.2s, ease-in-out);
                &:hover {
                    font-size: 35px;
                    background: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
}
.site {
    text-align: justify;
    width: 100%;
    max-width: 750px;
    color: #69606b;
    margin: 0 auto;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.5;
    font-family: $base-font-family;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

        .page-heading{
            text-align: left;

            color: #4c4d57;
            font-size: 100px;
            letter-spacing: 2px;
            font-weight: 900;
            display: inline;
        }

        .post-link{
            text-align: left;
            letter-spacing: 2px;
            font-weight: 700;
            color: #555;
            font-size: 40px;
            text-decoration: none;
            @include transition(all, 0.2s, ease-in-out);
            &:hover{
                color: #00bb70;
            }
        }
        .ubder_title{
            width: 15%;
            height: 18px;
            background: #4c4d57;
        }
        .single-post{
            padding: 7% 4%;
            border-bottom: 1px solid #eaeaea;
            margin: 5% 0;
            
            span {
                color: #aaa;
                font-family: Monaco, "Courier New", monospace;
                font-size: 14px;
                display: block;
                line-height: 30px;
            }
            p{
                margin: 0;
                font-size: 20px;
                color: #4c4d57;
                line-height: 42px;
            }
        
    }

}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    margin: 75px 0;
    display: block;

    > li {
        margin-bottom: $spacing-unit;
        .post-excerpt{
            line-height: 2;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    display: block;
    margin: 10px 0;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    line-height: 1.4;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
