{% include head.html %}

        <div class="header">
          <div class="overlay">
            <p class="welcome">Hi I'm</p>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <p class="tag">I have NO frigging Idea <b>WHAT I'M DOING :|</b></p>
          </div>
          
        </div>

        <div id="aboutMe">
          <h3>About</h3>
          <hr>
          <p>Hi I’m Nithin David Thomas, a 21 year old web designer/developer from kerala, India.
          He doesn't do stepovers, but when he has to perform, he performs. He does what the game asks him to do.</p>
        </div>
        
        <div class="site">

          {{ content }}

        </div>
{% include footer.html %}