{% include head.html %}
<body>
  <div class="header">
    <div class="overlay">
      <p class="welcome">Hi I'm</p>
      <h1 class="title"><a href="/">{{ site.title }}</a></h1>
      <p class="tag">Passionately <b>Curious</b> 🔍</p>
    </div>
  </div>
  <div id="aboutMe">
    <div class="fat-title">
      <h3>About</h3>
      <hr>
    </div>
    <p>Hi I’m Nithin David, a FrontEnd/Android developer from kerala, India with a keen personal focus on design and user experience. I have  experience on Rails and php. Ge in touch with me, if you need some help for your open-source project :) </p>
  </div>


  <div class="work">
    <div class="fat-title">
      <h3>Designs</h3>
      <hr>
    </div>
    <ul class="grid-work designs">
      <li><img src="images/designs/1.png"><a href="https://drive.google.com/open?id=1DB2dw3vRpnSzu4qqHqyiqOHzj7TKxI-V" target="_blank">Nafissa</a></li>
      <li><img src="images/designs/2.png"><a href="https://drive.google.com/open?id=1g2jJpVqnmiVs3nCdm-sW-hw9tYhx4A8K" target="_blank">ChatWoot</a></li>
      <li><img src="images/designs/3.png"><a href="https://drive.google.com/open?id=1U4BtpfO5c9w0AUcJjvbqwFkDpU_-tzO2" target="_blank">Letterati</a></li>
      <li><img src="images/designs/4.png"><a href="https://drive.google.com/open?id=1umUGBneyvOliMmhChRrEB3k6xhWrl4f2" target="_blank">Joseph</a></li>
      <li><img src="images/designs/5.png"><a href="https://drive.google.com/open?id=0B_VSXxcVC1ooRE5MbjdJcFNPS2RPeF9FaDBISUdQRWoxdGtV" target="_blank">Ripple</a></li>
      <!-- <li><img src="images/designs/6.png"><a href="https://drive.google.com/open?id=1FJKjLcHCbmIBanBgr98TX6yCwQVYuaZN" target="_blank">Rock on</a></li> -->
    </ul>
  </div>

  <div class="work">
    <div class="fat-title">
      <h3>Work</h3>
      <hr>
    </div>
    <ul class="grid-work">
      <li><img src="images/work/6.png"><a href="http://www.chatwoot.com/" target="_blank">ChatWoot</a></li>
      <li><img src="images/work/5.png"><a href="http://bit.ly/playripple" target="_blank">Ripple</a></li>
      <li><img src="images/work/4.png"><a href="https://play.google.com/store/apps/details?id=com.fedo.apps&hl=en" target="_blank">Fedo</a></li>
      <li><img src="images/work/1.png"><a href="http://bit.ly/cetdrishti" target="_blank">Drishti</a></li>
      <li><img src="images/work/3.png"><a href="https://www.youtube.com/watch?v=s9ZS8Px15VM" target="_blank">FindAuto</a></li>
      <li><img src="images/work/2.png"><a href="http://bit.ly/dialblood" target="_blank">DialBlood</a></li>
    </ul>
  </div>
  <div class="site">
    {{ content }}
  </div>
  <script type="text/javascript">

    var width = document.querySelector('.grid-work').offsetWidth
    var items= document.querySelectorAll('.grid-work li')
    for(i=0;i<items.length;i++){
      items[i].style.width = items[i].style.height  = width/3+'px';
    }

    var items= document.querySelectorAll('.grid-work.designs li')
    for(i=0;i<items.length;i++){
      items[i].style.height  = width/4+'px';
    }
  </script>

  {% include footer.html %}
</body>